.btn {
  min-width: 15em;
  margin-top: 1em;
  user-select: none;
  outline: none;
  
  &-primary {
    background-color: #c94e2980;
    border: 0;
  }
  
  &-primary:hover {
    background-color: #c94e2980;
  }

  &-primary:active, &-primary:focus {
    background-color: #c94e2980;
  }
  
  &-medium {
    width: 7em;
  }
  
  &-rounded {
    border-radius: 5em;
  }
}