body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #242d2c;
  color: #fff;
  // overflow: hidden;
  height: 100%;
  width: 100vw;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4e5e5a; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c94e29; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c94e2980; 
}