.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  padding: 1em;

  .logo-area, 
  .user-actions-area {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .logo-area img {
    max-width: 7em;
    border-radius: 100%;
    box-shadow: 0 0 1em #485a58;
  }

  .user-actions-area {
    justify-content: flex-end;

    a {
      color: #fff;
    }

    .fab {
      font-size: 1.75em;
      margin: 0 1em;
    }
    
    .fab:hover {
      color: #c94e29;
      cursor: pointer;
      text-shadow: 0 0 20px #c94e2980;
    }
  }
  
}